.blurContainer {
  height: 100%;
  backdrop-filter: blur(8px);
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-family: "Work Sans", sans-serif;
}

.wrap {
  position: relative;
}

.videoWrap {
  position: fixed;
  z-index: 1;
}
.contentWrap {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
}
